.shortcut-buttons-flatpickr-wrapper
    display: flex
    padding: 5px

.shortcut-buttons-flatpickr-wrapper > .shortcut-buttons-flatpickr-label
    align-content: center
    display: flex
    justify-content: center
    flex-direction: column
    padding: 0 5px

.shortcut-buttons-flatpickr-wrapper > .shortcut-buttons-flatpickr-buttons
    display: flex
    flex-flow: row wrap

.shortcut-buttons-flatpickr-buttons > .shortcut-buttons-flatpickr-button
    margin: 2px
